<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/AdminLayout :: adminLayout(
    ~{:: title},
    ~{fragments/AdminFragment :: static},
    ~{fragments/AdminFragment :: aside},
    ~{:: article},
    ~{fragments/AdminFragment :: footer},
    ~{fragments/AdminFragment :: js}
    )}">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<th:block th:fragment="article">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800" style="padding-top: 10px">Tables</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more
        information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official
            DataTables documentation</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="text-align: center">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="product, state : ${productList} ">
                        <td th:text="${state.count}"></td>
                        <td th:text="${product.pid}"></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.type}"></td>
                        <td th:text="${'$'+product.price}"></td>
                        <td th:text="${product.quantity}"></td>
                        <td th:text="${product.image}"></td>
                        <td th:text="${product.description}"></td>
                        <td><a th:href="@{'/admin/update/'+${product.pid}}" class="btn btn-primary">Update</a></td>
                        <td><a th:href="@{'/admin/remove/'+${product.pid}}" class="btn btn-danger">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>